<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import { mdiAccountMultiple, mdiStar, mdiAccount } from "@mdi/js";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

const theme = ref("light");
const logout = () => {
  loginStore.logout();
};
</script>

<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>
      <v-list>
        <v-list-item
          prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
          :title="loginStore.loginName"
          subtitle="sandra_a88@gmailcom"
        ></v-list-item>
      </v-list>
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiAccount"
          title="Users"
          value="Users"
          to="/user"
        ></v-list-item>

        <v-list-item
          :prepend-icon="mdiAccountMultiple"
          title="Shared with me"
          value="shared"
        ></v-list-item>

        <v-list-item
          :prepend-icon="mdiStar"
          title="Starred"
          value="starred"
        ></v-list-item>
      </v-list>

      <v-btn location="bottom" @click="logout" :prepend-icon="mdiStar"></v-btn>
    </v-navigation-drawer>

    <v-navigation-drawer location="right" width="400"> </v-navigation-drawer>
    <v-main>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>
